<div class="panel panel-default" style="margin-left: 148px;">
    <div class="panel-heading">
        <div class="row" style="margin-top: -26px;">
            <h1 style="margin-left: 16px; padding-top: 6px; height: 6px;">Contacts</h1>
            <div class="col-xs-12">
                <button class="pull-right btn btn-success" style="margin-top: -6px;">New Contact</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
                    <div class="pull-left">
                        <h2 class="list-group-item-heading" style="margin-top: 32px;">{{contact.name}}</h2>
                    </div>
                    <span class="pull-right">
                        <img src="{{contact.imageURL}}" alt="{{contact.name}}" class="img-responsive" style="max-height: 100px">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
