<div class="panel panel-default" style="margin-left: 148px;">
    <div class="panel-heading">
        <div class="row" style="margin-top: -26px;">
            <h1 style="margin-left: 16px; padding-top: 6px; height: 6px;">Contacts</h1>
            <div class="col-xs-12">
                <a (click)="onNewContact()" class="pull-right btn btn-success" style="margin-top: -6px;">New Contact</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <cms-contact-item *ngFor="let contactEl of contacts; let i = index" [contact]="contactEl" [index]="i"></cms-contact-item>
            </div>
        </div>
    </div>
</div>
