<div class="panel panel-default" style="width: 400px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{contact.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <img src={{contact.imageURL}} alr="" class="img-responsive">
                </div>
                <div class="pull-right" style="padding-right: 32px;">
                    <a (click)="onContactEdit()" class="btn btn-primary" style="margin: 2px;">Edit</a>
                  
                    <a (click)="onDelete()" class="btn btn-danger" style="margin: 2px;">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left" style="font-weight:700;">Email:</div>
                <div class="pull-left" style="padding-left: 6px;">{{contact.email}}</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left" style="font-weight:700;">Phone:</div>
                <div class="pull-left" style="padding-left: 6px;">{{contact.phone}}</div>
            </div>
        </div>
    </div>

</div>
